.error {
    background-color: #fdd;
    border: 0.1em solid #f88;
    padding: 0.3em;
}
body {
    max-width: 50em;
}
textarea {
    width: 100%;
}
button {
    display: block;
    margin: 0.7em 0 0 auto;
    padding: 0.2em 1em;
}
p > * {
    max-width: 100%;
}
table {
    margin-left: 2em;
    border-spacing: 0;
}
th {
    border-bottom: 1px solid #bdbdbd;
    text-align: left;
}
th, td {
    padding: 0.5em;
}

code.language-bad, code.language-good {
    padding: 1em;
    display: block;
}

code.language-bad {
    color: #f33;
    background-color: #fee;
}

code.language-good {
    color: #181;
    background-color: #efe;
}
